/* Base styles for the container */
.container {
    width: 100%;
    
    font-family:Tahoma, Geneva, sans-serif;
    font-weight: normal;
  }
  
  /* Style for the background photo */
  .background_photo {
    width: 100%;
    height: 300px;
    /* margin-top: -10px;  */
    /* margin-left: -8.2px;Adjust the height as needed */
    background-image: url(.//profilepic.jpg);
    /* overflow-y: hidden; */
    background-size: cover;
    background-position: center;
  }
  
  /* Profile styles */
  .profile {
    display: flex;
    padding: 20px;
    
    
   
  }
  .profile{
    justify-content: space-around;
  }
  
  .profile_image img {
    margin-top: -50px;
    margin-left: 1rem;
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
    
  }

  .profile_details{
   
    width: 25rem;
    margin-left: 10rem;
    height: 150px;
    
  }

  .profile_details h1 {
    font-size: 2rem;
    cursor: pointer;
  }
  
  
  
  .follow {
    display: flex;
    width: 25rem;
    justify-content: space-between;
    height: 80px;
    
  }
  
  .followers {
    display: flex;
    flex-direction: column;
  }
  
  .followers .count {
    font-size: 1.8rem;
    width: 60%;
    margin-left: 10px;
    text-align: center;
    background-color: white;
    color: #666;
   border-radius: 10px;
   border-style:groove;
   border-color:  #666;
   cursor: pointer;
   

  }
  h2{
    margin-top: -1px;
    color: #666;
    cursor: pointer;
    font-size: 2rem;
  }
  
  /* Bios styles */
  .bios {
    
    padding: 20px;
    text-align: center;
    width: 35%;
    margin-left: 30px;
    color: #666;
  }
  
  .bios h3 {
    font-size: 1.2rem;
  }
  
  .bios h4 {
    font-size: 1rem;
    cursor: pointer;
  }
  
  .like {
    display: flex;
    justify-content:space-around;
    text-align: center;
    margin-top: -20px;

  }
  .like h5{
    text-align: center;
    display: flex;
    cursor: pointer;
    
  }
  
  .like img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
  }
  



  /* Media queries for responsiveness */
  @media (max-width: 855px) {
    .container {
      padding: 10px;
      
    }
  
    .background_photo {
      height: 200px;
    }

    
  
    .profile_image img {
      width: 200px;
      height: 200px;
      margin-left: 0rem;
    }

    .profile_details{
      width: 16rem;
      margin-left: 1rem;
      height: 100px;
      
    }
  
    .profile_details h1 {
      font-size: 1.3rem;
    }
    .follow {
      
      width: 16rem;
      height: 60px;
    }
  
    .followers .count {
      font-size: 1.4rem;
    }

    h2{
      
      font-size: 1.3rem;
    }
  
  


    .bios {
      
      margin-left: 50px;
      align-items: center;
      
    }

    .bios h3 {
      font-size: 1rem;
    }

    
  
    .like img {
      width: 16px;
      height: 16px;
    }
  }
  
  /* Add more media queries for smaller screens if necessary */
  


  @media (max-width: 525px) {
    .container {
      padding: 10px;
      display: flex;
    flex-direction: column;
      text-align: center;
      align-items: center;
    }
    .profile{
      display: flex;
    flex-direction: column;
      align-items: center;
    }
    .bios {
      
      align-items: center;
      margin-left: 0;
      
    }

    .like {
      display: flex;
    flex-direction: column;
      text-align: center;
      align-items: center;
      
  
    }



  }
